.formContainer {
    margin: 0 auto;
    width: 60%;
    text-align: left;
    border: 1px solid #000;
    text-align: left;
}

.primarybtn {margin: 20px 0 20px 0;}
h2,.primarybtn,.errorcontainer { margin-left: 14%;}


.form {
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}


.form-group { 
    margin: 30px 10px 20px;
    display: flex;
    flex-basis: 43%;  
    flex-wrap: wrap;
    
}

.Radio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



input ,  .optionsState{
    padding: 5px;
    border: none;
    border-bottom: 2px solid;
    color: #000;
    font-weight: 600;
    flex-basis: 78%;
}

.passwordcontainer {
    display: flex;
    flex-basis: 90%;
}

.passwordcontainer input {
    display: flex;
    flex-basis: 90%;
}

.select,.optionsState {
    flex-basis: 100%;
}

::placeholder {
    color: lightgrey;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
  }

input:focus ,.optionsState:focus,.MuiInputBase-input:focus  { 
    outline: none !important;
    border-bottom: 2px solid #719ECE;
}


.checkbox-inline input { margin-right: 5px; }

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-top: 0;
    margin-left: 10px;
}


.Inputerror { border: 1px solid #eb516d;  }

.error { 
    font-size: 12px;
    color: #eb516d;
}


/* .fa-lock,.fa-user,.fa-envelope, .fa-phone { 
    position: absolute;
    top: 4px;
    font-size: 16px;
    left: -20px;
}

.fa-eye  { 
    position: absolute;
    top: 4px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
} */




@media screen and (max-width: 1165px){
    
    .formContainer { width: 75%;}
   
}
@media screen and (max-width: 1024px) {
    .formContainer { width: 80%;}
    .form {width: 85%;}
}

@media screen and (max-width: 930px) {
    .formContainer { width: 86%;}
    
   
}

