.formContainer {
    margin: 0 auto;
    width: 60%;
    text-align: left;
    border: 1px solid #000;
    text-align: left;
}

.primarybtn {margin: 20px 0 20px 0;}
h2,.primarybtn,.errorcontainer { margin-left: 16%;}


.form {
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}


.form-group { 
    margin: 30px 10px 20px;
    display: flex;
    flex-basis: 42%;  
    justify-content: space-between;
}

.Radio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form :last-child { flex-basis: 100%;}

input ,  .optionsState{
    padding: 5px;
    border: none;
    border-bottom: 2px solid;
    color: #000;
    font-weight: 600;
    /* background-color:  #f2f2f2; */
    /* box-shadow: 7px 9px 19px 0px rgba(0,0,0,0.75); */
}

input:focus ,.optionsState:focus,.MuiInputBase-input:focus  { 
    outline: none !important;
    border-bottom: 2px solid #719ECE;
}

label { margin-bottom: 5px ;}


.checkbox-inline input { margin-right: 5px; }

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline {
    margin-top: 0;
    margin-left: 10px;
}





.Inputerror { border: 1px solid #eb516d;  }

.error { 
    font-size: 12px;
    color: #eb516d;
}


.fa-lock,.fa-user,.fa-envelope, .fa-phone { 
    position: absolute;
    top: 4px;
    font-size: 16px;
    left: -20px;
}

.fa-eye  { 
    position: absolute;
    top: 4px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
}



/* styling for datepicker  */ */
.form-group .MuiFormControl-root .MuiInput-formControl>input { 
    border-bottom: 2px solid !important;
    color: #000 !important;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    
    .formContainer { width: 80%;}
   
}


